# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore virtual environments
env/

# Ignore environment variable files
.env

# Ignore SQLite DB (optional, if you don't want to push it)
db.sqlite3

accounts/

# Migrations
migrations/

# Static Media
# static/img (We can keep this for now atleast)
media/